PORT=4000
DATABASE_URL="postgresql://fymusic:fymusic@localhost:5435/fymusic?schema=public"
WEB_ORIGIN=http://localhost:3000
JWT_ACCESS_SECRET="meu-segredo-super-secreto-bem-guardado"
JWT_REFRESH_SECRET="outro-segredo-meu-super-secreto-bem-guardado"